.homePage {
    background-image: url('../images/bg.webp'); 
    background-size: cover;
    background-position: center;
    min-height: 80vh;
}
@media (max-width: 600px) {
    .homePage {
        min-height: 60vh; /* Adjust the height for small screens */
        background-size: cover;
        background-position: center;
    }
}

.bgHeading{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#9c8284c8;

}
@media (max-width: 600px) {
    .bgHeading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    }
}

.bestProductHeading{
    margin-top: 3rem;
    margin-left: 4rem;
    color:#9c8284c8;

}
@media (max-width: 600px) {
    .bestProductHeading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    margin-left: 0;

    }
}

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 60px;
}

@media (max-width: 900px) {
    .cardsContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .cardsContainer {
        grid-template-columns: 1fr;
    }
}
